.zoo-table th,
.zoo-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}
.zoo-table {
  border-collapse: collapse;
  width: 100%;
  font-family: Arial, sans-serif;
}

.zoo-table button {
  padding: 8px 14px;
  background-color: greenyellow;
}